<!DOCTYPE html>
<html lang="es">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Jason site</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/uikit.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/font-awesome.min.css')}}">
    <!-- End Stylesheets -->

    <script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.1.1.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/uikit.min.js')}}"></script>

    <script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>

</head>
<body>
    {% include 'components/header.html' %}
    {% block contenido %}
    {% endblock %}
</body>

{% block scripts %}

{% endblock %}
</html>