{% extends 'base.html' %}
{% block contenido %}
	{% if context.user %}
		<h2>Hola {{context.user.username}}</h2>
	{% endif %}

	{% for c in context.categories %}
		<h3><a href="{{url_for('blogViewCategory', slug=c.category.slug)}}">{{c.category.name}}: </a> {{c.category.description}}</h3>
	{% endfor %}

	<form method="POST" action="{{url_for('blogAddCategory')}}">
		<fieldset>
			<input type="text" name="name" placeholder="Name">
			<input type="text" name="slug" placeholder="URL">
			<input type="text" name="description" placeholder="Description">
			<input type="submit" value="Create category">
		</fieldset>
	</form>
{% endblock %}