{% extends "base.html" %}

{% block contenido %}
    <h1>Hola mundo</h1>
    {% if context.user %}
    	Bienvenido: {{context.user.username}}
    {% endif %}
    <a href="#" class="uk-button uk-button-primary errorBtn">
    	Simular error
    </a>
{%  endblock %}

{% block scripts %}
<script type="text/javascript">
	$(document).on('click','.errorBtn', function(){
		$('.errorBtn').load('{{url_for("defaultError")}}');
	});</script>
{% endblock %}