{% extends 'base.html' %}
{% block contenido %}
	<form method="POST" action="{{url_for('register')}}">
		<input type="text" name="user" placeholder="Usuario">
		<input type="email" name="email" placeholder="Email">
		<input type="password" name="pass" placeholder="Contraseña">
		<input type="submit" value="Registrarse">
	</form>
{% endblock %}