{% extends 'base.html' %}
{% block contenido %}
<form action="{{url_for('blogViewAddEntry', slug=context.category.slug)}}" method="POST" class="articleForm">
    <fieldset class="uk-fieldset">
        <div class="uk-margin">
            <input class="uk-input" name="title" type="text" placeholder="Title">
        </div>
        <div class="uk-margin">
            <input class="uk-input" name="slug" type="text" placeholder="URL">
        </div>
        <div class="uk-margin">
            <textarea class="content" name="content" rows="5" placeholder="Conenido"></textarea>
        </div>
        <button type="submit" class="uk-button uk-button-primary">Crear</button>
    </fieldset>
</form>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
	tinymce.init({
		selector: ".content"
	});
</script>
{% endblock %}